* {
    padding: 0;
    margin: 0;
}

body {
    background: #00688B;
}

form {
    padding-top: 50px;
    color: white;
    width: auto;
    text-align: center;
    height: 250px;
    justify-content: center;
}

label {
    width: auto;
    display: block;
}

footer {
    color: #00688B;
    background-color: #fff;
}

#menu {
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    padding-top: 65px;
}

#coluna3 {
    padding-top: 65px;
}

.jumbotron {
    background-color: #fff;
}

figure {
    border-radius: 5px;
    background-color: #fff;
}

figure img {
    border-radius:10px; 
    height: 300px;
    width: 240px;
}
